<h1>Admin Dashboard</h1>

<div class="panel panel-default products">

<table class="table table-bordered">
  <thead>
    <tr>
      <th># of <%= link_to "Products", "/admin/products" %></th>
      <th># of <%= link_to "Categories", "/" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><%= @product_count %></p></td>
      <td><p><%= @category_count %></p></td>
    </tr>
  </tbody>
</table>

</div>
